.product-pricing__row-input {
  margin-bottom: 0 !important;
}

.product-pricing__add-item-button {
  margin-left: auto;
  margin-right: 15px;
}

.product-pricing__add-item-button>button {
  margin-bottom: 0;
  margin-right: 0;
}