div
  table(width='100%', cellspacing='0', cellpadding='0', border='0', style='top:0px; left:0px; background-color:rgba(0, 0, 0, 0);')
    tr
      td.header(colspan='3', style='background:url(https://s3.amazonaws.com/handel-dev/asset/template/header_back.png);background-position:top left; background-repeat:no-repeat; background-size:cover; height:328px; padding-top:55px; padding-left:55px; vertical-align:top; text-align:left; background-color:rgba(0, 0, 0, 0); background-clip: padding-box;')
        h2(style='font-family:arial; font-size:1.5em; font-weight:bold; color:#ffffff; line-height:2em;') CONGRATULATIONS
        block title
    tr.shaderow(style='background-color:#f1f3f7;')
      td.leftelement.rightelement(colspan='3', style='text-align:center; padding-top:70px; padding-bottom:70px; padding-left:90px; padding-right:90px;')
        .confirmbox(style='font-size:1em; color:#434445; padding:50px 50px 60px 50px; background-color:#ffffff; border: solid 5px #dde2ea; border-radius: 5px; line-height:1.4em; margin-bottom:70px;')
          img(src='https://s3.amazonaws.com/handel-dev/asset/template/logo.png', width='270px')
          block content
          block button
        h3(style='font-family:arial; font-size:1.5em; color:#1c2630; font-weight:bold;') Need Help?
        | Get in touch if you have any questions regarding FlexiSkip.
        br
        | Feel free to contact us 24/7. We are here to help.
        br
        br
        | All the best.
        br
        | The Team
        br
        br
        a.sendmessage(href='#', style='color:#00afec; font-size:1em; font-weight:bold; text-decoration:none;') Send us a Message
    tr.shaderow(style='background-color:#f1f3f7;')
      td.leftelement.rightelement(colspan='3', style='text-align:center; padding-left:90px; padding-right:90px;')
        hr(style='height:2px; color:#c7c7c7; background-color:#c7c7c7; border-width:0px; margin:40px 0px;')
    tr.shaderow(style='background-color:#f1f3f7;')
      td.leftelement(style='text-align:left; padding-left:90px;')
        img(src='https://s3.amazonaws.com/handel-dev/asset/template/logo.png', width='135px')
      td(style='text-align:center;')
        a.nav(href='#', style='color:#00afec; font-size:.8em; text-decoration:none;') Support
        |&nbsp;|&nbsp;
        a.nav(href='#', style='color:#00afec; font-size:.8em; text-decoration:none;') Visit FAQ
      td.rightelement(style='text-align:right; padding-right:90px;')
        a(href='#')
          img(src='https://s3.amazonaws.com/handel-dev/asset/template/facebook.png', width='35px', style='margin:0px 10px;')
        a(href='#')
          img(src='https://s3.amazonaws.com/handel-dev/asset/template/instagram.png', width='35px', style='margin:0px 10px;')
        a(href='#')
          img(src='https://s3.amazonaws.com/handel-dev/asset/template/youtube.png', width='35px', style='margin:0px 10px;')
      td
    tr.shaderow(style='background-color:#f1f3f7;')
      td(colspan='3')  